// *Colors
$c-black: #232536;
$c-yellow: #FFD050;
$c-purple: #592EA9;
$c-dark-grey: #4C4C4C;
$c-medium-grey: #6D6E76;
$c-light-grey: #F4F4F4;
$c-lavender: #F4F0F8;
$c-light-yellow: #FBF6EA;
$c-dark-yellow: #EDC14A;
$c-white: #fff;

// *Font size
$fs-base: 14;

// *Font family
$ff-inter: 'Inter', sans-serif;
$ff-sen: 'Sen', sans-serif;

// *Bezier
$b-normal: cubic-bezier(0.4, 0, 0.2, 1);

// *Transitions
$t-normal: 0.35s $b-normal;