// *Colors
$c-black: #232536;
$c-yellow: #ffd050;
$c-purple: #592ea9;
$c-dark-grey: #4c4c4c;
$c-medium-grey: #6d6e76;
$c-light-grey: #f4f4f4;
$c-lavender: #f4f0f8;
$c-light-yellow: #fbf6ea;
$c-dark-yellow: #edc14a;
$c-white: #fff;
$c-red: #ff0000;
$c-green: #376f25;

// *Font size
$fs-base: 16;

// *Font family
$ff-inter: "Inter", sans-serif;
$ff-sen: "Sen", sans-serif;

// *Bezier
$b-normal: cubic-bezier(0.4, 0, 0.2, 1);

// *Transitions
$t-normal: 0.35s $b-normal;
