extends ./src/common/layout

block title 
  title Demo

block style
  link(rel="stylesheet" href="./index.css")

block content
  .buttons 
    +button({
      type: 'button',
      text: 'Read More',
      icon: true,
      toolTip: 'Read more here'
    })

  .buttons 
    +button({
      type: 'button',
      text: 'Subscribe',
      toolTip: 'Push for Subscribe',
      whiteMode: true
    })

  .kos-form 
    +formItem({
      placeholder: 'Full Name',
      toolTip: 'Full Name',
      name: 'firstName',
      type: 'text',
    })

    +formItem({
      placeholder: 'Your Email',
      toolTip: 'Your Email',
      name: 'email',
      type: 'email',
    })

    +formItem({
      name2: 'country',
      toolTip: 'Select your country',
    })

    +formItem({
      placeholder2: 'Message',
      name3: 'textArea',
      rows: '5',
      toolTip: 'Message',
    })

    +banner({
      subtitle: 'Posted on',
      link: ' startup',
      title: 'Step-by-step guide to choosing great font pairs',
      author: 'James West',
      dateTime: '23-05-2022',
      time: 'May 23, 2022',
    })

    