include ./src/elements/index
include ./src/components/index 
doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Demo
    //- Style
    link(rel="stylesheet", href="./index.css")
  body 
    .buttons 
      +button({
        type: 'button',
        text: 'Read More >',
        toolTip: 'Read more here'
      })
    .buttons 
      +button({
        type: 'button',
        text: 'Subscribe',
        toolTip: 'Push for Subscribe',
        whiteMode: true
      })
<<<<<<< HEAD
    
    .kos-form 
      +formItem({
        placeholder: 'Full Name',
        toolTip: 'Full Name',
        name: 'firstName',
        type: 'text',
      })

      +formItem({
        placeholder: 'Your Email',
        toolTip: 'Your Email',
        name: 'email',
        type: 'email',
      })

      +formItem({
        name2: 'country',
        toolTip: 'Select your country',
      })

      +formItem({
        placeholder2: 'Message',
        name3: 'textArea',
        rows: '5',
        toolTip: 'Message',
=======
    .blog-post-item 
      +blogPostsItem({
        src: './assets/images/yul-two-women-in-front-of-dry-erase-board.jpg',
        subtitle: 'Startup',
        title: 'Design tips for designers that cover everything you need'
      })
      +blogPostsItem({
        src2: './assets/images/yul-two-women-in-front-of-dry-erase-board.jpg',
        subtitle: 'Business',
        title: 'Top 6 free website mockup tools 2022'
>>>>>>> 7bdce42c9d4989fb11136d6e74f6e0ae0484a53c
      })