// *Base
@import '../index';
@import '../plugins/simptip/simptip';
// *Banner
@import '../components/banner';
// *Buttons
@import '../elements/button';
@import '../elements/form-item';
// *Header
@import '../components/navigation';
@import '../components/header';
// * Blog post item section
@import '../components/content-item';
// *Categories section
@import '../elements/category-item';
@import '../components/category';
@import '../components/join-section';
// *Footer
@import '../elements/socials';
@import '../components/footer';

.pol-blog {
  &__wrapper {
    margin-top: 64px;
  }
  &__title {
    cursor: default;
    color: $c-black;
    padding-bottom: 32px;
    border-bottom: 1px solid rgba($c-medium-grey, $alpha: 0.3);
  }
}