extends ../common/layout

block title 
  title About us

block style
  link(rel="icon" href="../favicon.ico" type="image/x-icon")
  link(rel="stylesheet" href="../styles/about-us.css")


block content
  +aboutUs()

  .wrapper.alx-list-of-author
    h3.alx-list-of-author__title List of Authors
    ul.alx-list-of-author__list 
      +authorsItem({
        title: 'Floyd Miles',
        subtitle: 'Content Writer @Company',
        src: '../assets/images/yul-man-in-yellow-button-up-shirt.jpg'
      }) 
      +authorsItem({
        title: 'Dianne Russell',
        subtitle: 'Content Writer @Company',
        src: '../assets/images/yul-woman-in-white-and-black-striped-shirt.jpg'
      }) 
      +authorsItem({
        title: 'Jenny Wilson',
        subtitle: 'Content Writer @Company',
        src: '../assets/images/yul-fashion-woman-cute-shoes.jpg'
      }) 
      +authorsItem({
        title: 'Leslie Alexander',
        subtitle: 'Content Writer @Company',
        src: '../assets/images/yul-content-baker-with-delicious-puff-in-cafeteria.jpg'
      })
      +authorsItem({
        title: 'Guy Hawkins',
        subtitle: 'Content Writer @Company',
        src: '../assets/images/yul-man-in-yellow-button-up-shirt-wearing-black-framed-eyeglasses.jpg'
      })
      +authorsItem({
        title: 'Eleanor Pena',
        subtitle: 'Content Writer @Company',
        src: '../assets/images/yul-woman-in-white-and-black-striped-shirt-wearing-black.jpg'
      })
      +authorsItem({
        title: 'Robert Fox',
        subtitle: 'Content Writer @Company',
        src: '../assets/images/yul-content-unshaven-man-covering-eye-with-yellow-flower.jpg'
      })
      +authorsItem({
        title: 'Jacob Jones',
        subtitle: 'Content Writer @Company',
        src: '../assets/images/yul-cheerful-young-ethnic-male-millennial-standing-near-stone-wall-and-smiling.jpg'
      })