extends ../common/layout

block title 
  title Home
block style 
  link(rel="stylesheet" href="../styles/home.css")

  .app 
    //- *Header
    +header()
    //- * Banner
    +banner({
      subtitle: 'Posted on ',
      link: 'startup',
      title: 'Step-by-step guide to choosing great font pairs',
      alt: 'Building',
      href: 'https://en.wikipedia.org/wiki/James_West_(Australian_journalist)',
      href2: 'https://startup.ua/ua/',
      toolTip: 'Who is James West',
      toolTip2: 'Watch on Startup',
      author: 'James West',
      dateTime: '23-05-2022',
      time: 'May 23, 2022',
      text: 'Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.'
    })
    //- * Featured post
    .andr-content-block
      .wrapper.andr-content-block__wrapper
        //- Post with image
        .andr-content-block__item
          .andr-content-block__head
            h2.andr-content-block__title Featured Post
          .andr-content-block__article-wrapper
            +article({
              src: '../assets/images/yul-white-concrete-building.jpg',
              alt: 'Man working',
              href: 'https://en.wikipedia.org/wiki/John_Doe',
              toolTip: 'Who is John Doe',
              author: 'John Doe',
              dateTime: '23-05-2022',
              time: 'May 23, 2022',
              title: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.',
              text: 'Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.'
            })
            .andr-content-block__button
              +button({
                type: 'button',
                text: 'Read More >',
                toolTip: 'Read more'
              })
        //- All posts
        .andr-content-block__item.andr-content-block__item--tiny
          .andr-content-block__head
            h2.andr-content-block__title All Posts
            a(href="#" data-tooltip='View all posts').andr-content-block__link.simptip-position-bottom.simptip-fade.simptip-smooth View all
          +article({
          classes: ' andr-h-margin-top-30',
          href: 'https://en.wikipedia.org/wiki/John_Doe',
          toolTip: 'Who is John Doe',
          author: 'John Doe',
          dateTime: '23-08-2021',
          time: 'August 23, 2021',
          title2: '8 Figma design systems that you can download for free today.'
        })
          +article({
          href: 'https://en.wikipedia.org/wiki/John_Doe',
          toolTip: 'Who is John Doe',
          author: 'John Doe',
          dateTime: '23-08-2021',
          time: 'August 23, 2021',
          title2: '8 Figma design systems that you can download for free today.'
        })
          +article({
          href: 'https://en.wikipedia.org/wiki/John_Doe',
          toolTip: 'Who is John Doe',
          author: 'John Doe',
          dateTime: '23-08-2021',
          time: 'August 23, 2021',
          title2: '8 Figma design systems that you can download for free today.'
        })
          +article({
          href: 'https://en.wikipedia.org/wiki/John_Doe',
          toolTip: 'Who is John Doe',
          author: 'John Doe',
          dateTime: '23-08-2021',
          time: 'August 23, 2021',
          title2: '8 Figma design systems that you can download for free today.'
        })

    //- * Category block
    +category

    //- * List of Autors
    .wrapper.alx-list-of-autor
      .alx-list-of-autor__title
        h2 List of Authors
      .alx-list-of-autor__list 
        +autorsItem({
          title: 'Floyd Miles',
          subtitle: 'Content Writer @Company',
          src: '../assets/images/yul-man-in-yellow-button-up-shirt.jpg'
        }) 
        +autorsItem({
          title: 'Dianne Russell',
          subtitle: 'Content Writer @Company',
          src: '../assets/images/yul-woman-in-white-and-black-striped-shirt.jpg'
        }) 
        +autorsItem({
          title: 'Jenny Wilson',
          subtitle: 'Content Writer @Company',
          src: '../assets/images/yul-fashion-woman-cute-shoes.jpg'
        }) 
        +autorsItem({
          title: 'Leslie Alexander',
          subtitle: 'Content Writer @Company',
          src: '../assets/images/yul-content-baker-with-delicious-puff-in-cafeteria.jpg'
        })
      
    //- * Logoipsum block
    +logoipsum

