mixin authorsItem(args={})
  li.alx-authors-item
    .alx-authors-item__image-block
      img(src=args.src, alt=args.alt).alx-authors-item__image
    if args.indexMode
      a(href="./pages/author.html").alx-authors-item__title=args.title
    else 
      a(href="./author.html").alx-authors-item__title=args.title
    .alx-authors-item__subtitle=args.subtitle
    +socials()