mixin autorsItem(args)
  //- - const subtitle = args.subtitle || 'Default statictic subtitle'
  //- - const title = args.title || 'Default statictic title'

  li.alx-autors-item
    .alx-autors-item__image-block
      img(src=args.src, alt=args.alt).alx-autors-item__image
    .alx-autors-item__title=args.title
    .alx-autors-item__subtitle=args.subtitle