mixin categoryItem (args={})
  - const title = args.title || 'Default category title'
  - const subtitle = arg.subtitle || 'Default category subtitle'
  
  .alx-category-item 
    .alx-category-item__title=title
    .alx-category-item__subtitle=subtitle