mixin category(args={})
  - const title = args.title || 'Default statictic title'

  section.alx-category
    .wrapper.alx-category__wrapper
      h3.alx-category__title=args.title
      ul.alx-category__list
        if args.indexMode
          +categoryItem({
          title: 'Business',
          subtitle: 'Lorem ipsum dolor sit amet, consectetuer adipiscing elit',
          icon: '#icon-business',
          indexMode: true
          })
          +categoryItem({
            title: 'Startup',
            subtitle: 'Lorem ipsum dolor sit amet, consectetuer adipiscing elit',
            icon: '#icon-startup',
            indexMode: true
          })
          +categoryItem({
            title: 'Economy',
            subtitle: 'Lorem ipsum dolor sit amet, consectetuer adipiscing elit',
            icon: '#icon-economy',
            indexMode: true
          })
          +categoryItem({
            title: 'Technology',
            subtitle: 'Lorem ipsum dolor sit amet, consectetuer adipiscing elit',
            icon: '#icon-tecnology',
            indexMode: true
          })
        else
          +categoryItem({
            title: 'Business',
            subtitle: 'Lorem ipsum dolor sit amet, consectetuer adipiscing elit',
            icon: '#icon-business'
          })
          +categoryItem({
            title: 'Startup',
            subtitle: 'Lorem ipsum dolor sit amet, consectetuer adipiscing elit',
            icon: '#icon-startup'
          })
          +categoryItem({
            title: 'Economy',
            subtitle: 'Lorem ipsum dolor sit amet, consectetuer adipiscing elit',
            icon: '#icon-economy'
          })
          +categoryItem({
            title: 'Technology',
            subtitle: 'Lorem ipsum dolor sit amet, consectetuer adipiscing elit',
            icon: '#icon-tecnology'
          })