mixin category(args={})
  section.alx-category
    .wrapper.alx-category__wrapper
      h3.alx-category__title Choose A Category    
      ul.alx-category__list
        +categoryItem()
        +categoryItem()
        +categoryItem()
        +categoryItem()