mixin content()
  .andr-content
    .wrapper.andr-content__wrapper 
      .andr-content__title My Posts
      +contentItem({
        src: '../assets/images/yul-stained-glass-high-rise-building.jpg',
        alt: 'skyscraper',
        subtitle: 'Business',
        title: 'Font sizes in UI design: The complete guide to follow',
        description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.'
      })
      +contentItem({
        src: '../assets/images/yul-man-in-black-crew-neck-t-shirt-sitting-beside-woman-in-gray-crew-neck-t-shirt.jpg',
        alt: 'Conversation',
        subtitle: 'Economy',
        title: 'How to build rapport with your web design clients',
        description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.'
      })
