mixin contact-pannel()
  .kos-contact-pannel 
    .kos-contact-pannel__block
      .kos-contact-pannel__title Working hours
      .kos-contact-pannel__days Monday To Friday
      time.kos-contact-pannel__time 9:00 AM to 8:00 PM 
      .kos-contact-pannel__item   
        a(href="#" target="_blank").kos-contact-pannel__link Our Support Team is available 24/7 
    .kos-contact-pannel__block
      .kos-contact-pannel__title Contact Us
      .kos-contact-pannel__item 
        a(href="tel: 020 7993 2905").kos-contact-pannel__link--number 020 7993 2905 
      .kos-contact-pannel__item   
        a(href="mailto: hello@finsweet.com" target="_blank").kos-contact-pannel__link hello@finsweet.com



