mixin navigation()
  nav.pol-navigation 
    .pol-navigation__wrapper 
      ul.pol-navigation__list 
        li.pol-navigation__item 
          a(href="#").pol-navigation__link HOME
        li.pol-navigation__item 
          a(href="#").pol-navigation__link ABOUT
        li.pol-navigation__item 
          a(href="#").pol-navigation__link WORKS
        li.pol-navigation__item 
          a(href="#").pol-navigation__link BLOG
        li.pol-navigation__item 
          a(href="#").pol-navigation__link CONTACT