

footer.dim-footer
  .dim-footer__top
    .dim-footer__logo
      span.dim-logo  
    nav.dim-footer__navigation
      ul.dim-navigation__list
        li.dim-list__item
          a.dim-item__linc(href='#') Home
        li.dim-list__item
          a.dim-item__linc(href='#') Blog
        li.dim-list__item
          a.dim-item__linc(href='#') About us
        li.dim-list__item
          a.dim-item__linc(href='#') Contact us
        li.dim-list__item
          a.dim-item__linc(href='#') Privacy Policy
  .dim-footer__input
    .dim-input__title
      | Subscribe to our news letter to get latest updates and news
    label.dim-input(for='#')
      input.footer__input(type='email')
      button.dim-button__submit(type='submit') Subscribe
  .dim-footer__booton
    span.dim-booton__contact Finstreet 118 2561 Fintown
    span.dim-booton__contact Hello@finsweet.com 020 7993 2905
    .dim-booton__icon