mixin header()
  header.yul-header 
    .wrapper.yul-header__wrapper
      .yul-header__logo
        img(src="./assets/images/logo.svg" alt="logo")
      .yul-header__block
        .yul-header__navigation 
          //- +navigation() 
        .yul-header__button
          +button({
            type: 'button',
            text: 'Subscribe',
            toolTip: 'Push for Subscribe',
            whiteMode: true
          })