mixin header(args={})
  header.yul-header 
    .wrapper.yul-header__wrapper
      a(href="../index.html").yul-header__logo
        +logo()
      .yul-header__block
        .yul-header__navigation
          if args.indexMode
            +navigation({
              indexMode: true
            }) 
          else
            +navigation()
        .yul-header__button
          +button({
            type: 'button',
            text: 'Subscribe',
            toolTip: 'Push for Subscribe',
            whiteMode: true
          })
        .yul-header__burger 
          +burger()