include ./about-us
include ./authors-item
include ./banner
include ./banner-info
include ./blogpostsItem
include ./category
include ./contact-pannel 
include ./featured-section
include ./footer 
include ./form
include ./header 
include ./join-section
include ./logoipsum
include ./navigation
include ./statistic
