include ./header 
include ./footer 
include ./navigation
include ./form
include ./category
include ./authorsItem
include ./featuredSection
include ./blogpostsItem
include ./banner
include ./aboutUs
include ./statictic
include ./contact-pannel 
include ./join-section.pug 
include ./content 