include ./about-us
include ./about-us-info
include ./authors-item
include ./authors
include ./banner-info
include ./banner
include ./category
include ./contact-pannel 
include ./content-item
include ./content
include ./featured-section
include ./footer 
include ./form
include ./header 
include ./join-section
include ./logoipsum
include ./navigation
include ./statistic
<<<<<<< HEAD
include ./content
include ./banner-blog-posts
include ./card-blog-posts
=======
include ./testimonials-section
>>>>>>> 09fe72ed69a4b733a60aa269754a10cbe12ba0cc
