include ./header 
include ./footer 
include ./navigation
include ./form
include ./blogPage
include ./categorySection
include ./contactPage
include ./privacyPage
include ./authorsList
include ./featuredSection