mixin join-section()
  .yul-join-section 
    .wrapper.yul-join-section__wrapper
      h2.yul-join-section__title Join our team to be a part of our story
      span.yul-join-section__subtitle Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
      .yul-join-section__button
        +button({
          type: 'button',
          text: 'Join Now',
          toolTip: 'Push for Join Now',
          })