mixin logoipsum()
  .wrapper.alx-logoipsum
    a(href="https://logoipsum.com" target='_blank').alx-logoipsum__icon
      svg.icon.icon-featured-in
        use(xlink:href='#icon-featured-in')
    a(href="https://logoipsum.com" target='_blank').alx-logoipsum__icon
      svg.icon.icon-logoipsum-1
        use(xlink:href='#icon-logoipsum-1')
    a(href="https://logoipsum.com" target='_blank').alx-logoipsum__icon
      svg.icon.icon-logoipsum-2
        use(xlink:href='#icon-logoipsum-2')
    a(href="https://logoipsum.com" target='_blank').alx-logoipsum__icon
      svg.icon.icon-logoipsum-3
        use(xlink:href='#icon-logoipsum-3')
    a(href="https://logoipsum.com" target='_blank').alx-logoipsum__icon
      svg.icon.icon-logoipsum-4
        use(xlink:href='#icon-logoipsum-4')
    a(href="https://logoipsum.com" target='_blank').alx-logoipsum__icon
      svg.icon.icon-logoipsum-5
        use(xlink:href='#icon-logoipsum-5')
