mixin logoipsum()
  .wrapper.alx-logoipsum 
    .alx-logoipsum__icon 
      <svg class="icon icon-featured-in"><use xlink:href="#icon-featured-in"></use></svg> 
    .alx-logoipsum__icon 
      <svg class="icon icon-logoipsum-1"><use xlink:href="#icon-logoipsum-1"></use></svg>
    .alx-logoipsum__icon 
      <svg class="icon icon-logoipsum-2"><use xlink:href="#icon-logoipsum-2"></use></svg> 
    .alx-logoipsum__icon 
      <svg class="icon icon-logoipsum-3"><use xlink:href="#icon-logoipsum-3"></use></svg> 
    .alx-logoipsum__icon 
      <svg class="icon icon-logoipsum-4"><use xlink:href="#icon-logoipsum-4"></use></svg> 
    .alx-logoipsum__icon 
      <svg class="icon icon-logoipsum-5"><use xlink:href="#icon-logoipsum-5"></use></svg>