mixin navigation(args={})
  if args.indexMode 
    nav.pol-navigation 
    .pol-navigation__wrapper 
      ul.pol-navigation__list 
        li.pol-navigation__item 
          a(href="./index.html").pol-navigation__link Home
        li.pol-navigation__item 
          a(href="./pages/blog.html").pol-navigation__link Blog
        li.pol-navigation__item 
          a(href="./pages/about-us.html").pol-navigation__link About us
        li.pol-navigation__item 
          a(href="./pages/contacts.html").pol-navigation__link Contact us
        if args.text
          li.pol-navigation__item 
            a(href="./pages/privacy-policy.html").pol-navigation__link=args.text
  else
    nav.pol-navigation 
      .pol-navigation__wrapper 
        ul.pol-navigation__list 
          li.pol-navigation__item 
            a(href="../index.html").pol-navigation__link Home
          li.pol-navigation__item 
            a(href="./blog.html").pol-navigation__link Blog
          li.pol-navigation__item 
            a(href="./about-us.html").pol-navigation__link About us
          li.pol-navigation__item 
            a(href="./contacts.html").pol-navigation__link Contact us
          if args.text
            li.pol-navigation__item 
              a(href="./privacy-policy.html").pol-navigation__link=args.text