mixin navigation()
  nav.yul-navigation
    ul.yul-navigation__list
      li.yul-navigation__item 
        a(href="#").yul-navigation__link Home
      li.yul-navigation__item 
        a(href="#").yul-navigation__link Blog 
      li.yul-navigation__item 
        a(href="#").yul-navigation__link About us
      li.yul-navigation__item 
        a(href="#").yul-navigation__link Contacts us
      