mixin testimonials()
  section.yul-testimonials 
    .wrapper.yul-testimonials__wrapper 
      .yul-testimonials__heading 
        span.yul-testimonials__span TESTIMONIALs
        h2.yul-testimonials__title What people say about our blog          
        p.yul-testimonials__subtitle Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
      .yul-testimonials__messages 
        p.yul-testimonials__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        .yul-testimonials__profile 
          .yul-testimonials__image 
            img(src="./assets/images/yul-jonathan-vallem.jpg", alt="profile")
            .yul-testimonials__profile
              .yul-testimonials__profile--name Jonathan Vallem
              .yul-testimonials__profile--place New york, USA
            .yul-testimonials__button
              button.yul-testimonials__button--back 
                img(src="./assets/images/", alt="back")