.andr-content {
  padding-bottom: 130px;
  padding-top: 130px;

  @include media("<=tablet"){
    padding-bottom: 50px;
    padding-top: 50px;
  }

  &__wrapper {
    width: fit-content;
  }

  &__title {
    font-family: $ff-sen;
    font-size: em(48);
    font-weight: 700;
    color: $c-black;

    @include media("<=tablet"){
      font-size: em(32);
    }
  }
}