.pol-navigation {
  z-index: 900;

  @include media ('<=tablet') {
    background-color: $c-dark-grey;
    justify-content: center;
    position: fixed;
    display: flex;
    bottom: 50%;
    top: 80px;
    right: 0;
    left: 0;
  }

  &__list {
    display: flex;
    height: 100%;
    gap: 40px;

    @include media ('<=tablet') {
      align-items: center;
      flex-direction: column;
      justify-content: center;
    }
  }

  &__link {
    transition: $t-normal;
    color: $c-white;
    &:hover {
      opacity: 0.8;
    }
  }
}

