.pol-navigation {
  transition: $t-normal;
  z-index: 910;
  overflow: hidden;
  &.open {
    min-height: 240px;
  }
  @include media("<=desktop") {
    max-height: 0;
    background-color: rgba($c-black, $alpha: 0.98);
    justify-content: center;
    position: fixed;
    display: flex;
    top: 80px;
    right: 0;
    left: 0;
  }

  &__list {
    display: flex;
    height: 100%;
    gap: 40px;

    @include media("<=desktop") {
      gap: 30px;
      align-items: center;
      flex-direction: column;
      justify-content: center;
    }
  }

  &__link {
    transition: $t-normal;
    color: $c-white;
    &:hover {
      opacity: 0.8;
    }
  }
}
