.yul-testimonials {
  margin: 0 auto;
  max-width: 1280px;
  width: 100%;

  @include media("<=tablet") {
    margin: 20px 50px;
  }

  &__wrapper {
    color: $c-black ;
    padding: 80px 112px 75px;
    background-color: $c-light-yellow;
    justify-content: center;    
    align-items: center;
    display: flex;

    @include media("<=tablet") {
      gap: em(25);
      flex-direction: column;
      align-items: center;
    }
  }

  &__heading {
    padding-right: 80px;
    border-right: 1px solid $c-medium-grey;
    align-items: flex-start ;
    justify-content: center;
    flex-direction: column;
    display: flex;
    flex: 1 0 430px;

    @include media("<=tablet") {
      flex-direction: column;
      align-items: center;
      border-right: 0;
      padding: em(15);
      gap: 25px;
    }
  }

  &__span {
    font-family: $ff-inter;
    line-height: em(20);
    font-size: em(16);
    margin-top:em(12);
    font-weight: 600;
  }

  &__title {
    font-family: $ff-sen;
    line-height: em(48);
    font-size: em(36);
    font-weight: 700;
  
  }

  &__subtitle {
    font-family: $ff-inter;
    line-height: em(28);
    font-size: em(16);
    font-weight: 400;
  }

  &__messages {
    
    padding-left: 96px;
    flex: 1 1 auto;

    @include media("<=tablet") {
      gap: 25px;
      flex-direction: column;
      align-items: center;
      padding: 15px;
    }
  }

  &__text {
    font-family: $ff-sen;
    line-height: em(32);
    font-size: em(24);
    font-weight: 700;
  }

  &__bottom {
    display: flex;
    margin-top: em(120);
    justify-content: space-between;
  }
  &__profile {
    justify-content: space-between;        
    align-items: center;
    display: flex;
    
  }

  &__image {
    margin-right: em(16);
    border-radius: 50%;
    height: em(48);
    width: em(48);
  }

  &__info {
    justify-content: space-between;        
    align-items: flex-start;
    flex-direction: column;
    display: flex;
  }

  &__name {
    font-family: $ff-sen;
    line-height: em(32);
    font-size: em(24);
    font-weight: 700;
  }

  &__date {
    font-family: $ff-inter;
    line-height: em(28);
    font-size: em(16);
    font-weight: 400;
  }

  &__buttons {
    display: flex;
    gap: em(24);
  }
  &__button {
    background-color:$c-white ;
    border-radius: 50%;
    height: em(48);
    width: em(48);
    border: none;
  }

  &__button:hover {
    background-color: $c-black;
    align-items: center;
    color: $c-white;
    width: em(62);
    height:em(62);
  }

  &__icon {
    font-size: em(20);
  }
  &__button:hover  .yul-testimonials__icons{
    font-size: em(26);
    color: $c-white;
  }
}