.yul-testimonials {
  
  margin: 0 auto;
  max-width: 1280px;
  width: 100%;

  @include media("<=tablet") {
    margin: 20px 50px;
  }

  &__wrapper {
    cursor: default;
    color: $c-black;
    padding: 80px 110px;
    background-color: $c-light-yellow;
    justify-content: center;
    display: flex;

    @include media("<=desktop") {
      gap: 64px;
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__heading {
    padding-right: 84px;
    border-right: 1px solid rgba($c-medium-grey, $alpha: 0.4);
    flex-direction: column;
    display: flex;
    width: 50%;

    @include media("<=desktop") {
      width: 100%;
      padding-right: 0;
      border-right: 0;
      padding-bottom: 84px;
      border-bottom: 1px solid rgba($c-medium-grey, $alpha: 0.4);
    }
  }

  &__span {
    letter-spacing: 3px;
    text-transform: uppercase;
    font-family: $ff-inter;
    line-height: em(20);
    font-size: em(16);
    margin-top: em(12);
    font-weight: 600;
  }

  &__title {
    padding-top: 12px;
    padding-bottom: 16px;
    line-height: 133%;
    font-family: $ff-sen;
    font-size: em(36);
    font-weight: 700;
  }

  &__subtitle {
    font-family: $ff-inter;
    line-height: em(28);
    font-size: em(16);
    font-weight: 400;
  }

  &__messages {
    padding-left: 96px;
    width: 50%;

    @include media("<=desktop") {
      width: 100%;
      flex-direction: column;
      align-items: flex-start;
      padding-left: 0;
    }
  }

  &__text {
    font-family: $ff-sen;
    line-height: 133%;
    font-size: em(24);
    font-weight: 700;
  }

  &__bottom {
    display: flex;
    gap: 15px;
    align-items: center;
    margin-top: em(120);
    justify-content: space-between;
    @include media("<=desktop") {
      flex-direction: column;
      align-items: flex-start;
    }
  }
  &__profile {
    justify-content: space-between;
    align-items: center;
    display: flex;
  }

  &__image {
    margin-right: em(16);
    border-radius: 100%;
    height: em(48);
    width: em(48);
  }

  &__info {
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    display: flex;
  }

  &__name {
    font-family: $ff-sen;
    line-height: 133%;
    font-size: em(24);
    font-weight: 700;
  }

  &__place {
    color: $c-medium-grey;
  }
  &__date {
    font-family: $ff-inter;
    line-height: em(28);
    font-size: em(16);
    font-weight: 400;
  }

  &__buttons {
    display: flex;
    gap: em(24);
  }
  &__button {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: $t-normal;
    background-color: $c-white;
    border-radius: 50%;
    height: em(48);
    width: em(48);
    border: none;
    &:hover {
      background-color: $c-black;
      align-items: center;
      color: $c-white;
      transform: scale(1.25);
    }
  }


  &__icon {
    
    font-size: em(20);
  }
  &__button:hover .yul-testimonials__icons {
    font-size: em(26);
    color: $c-white;
  }
}
