.alx-autors-item {
  display: flex;
  flex-direction: column;
  padding-left: 28px;
  padding-bottom: 40px;
  padding-top: 40px;
  padding-right: 28px;
  align-items: center;
  text-align: center;
  background-color: $c-light-grey;
  cursor: pointer;
  transition: $t-normal;

  &__image-block {
    margin-bottom: 20px;
  }

  &__image {
    border-radius: 50%;
  }

  &__title {
    font-family: $ff-sen;
    font-weight: 700;
    font-size: em(28);
    line-height: 40px;
    letter-spacing: -1px;
    color: $c-black;
  }

  &__subtitle {
    font-family: $ff-inter;
    font-weight: 400;
    font-size: em(14);
    line-height: 20px;
    color: $c-medium-grey;
  }
}

.alx-autors-item:hover {
  background-color: $c-light-yellow;
}