.andr-button {
  background-color: $c-yellow;
  justify-content: center;
  transition: $t-normal;
  font-family: $ff-sen;
  align-items: center;
  position: relative;
  font-size: em(18);
  padding-left: 5px;
  padding-right: 5px;
  font-weight: 700;
  cursor: pointer;
  display: flex;
  height: 56px;
  border: none;
  width: 100%;

  &:hover {
    background-color: $c-dark-yellow;

    & .andr-button__hidden {
      opacity: 1;
    }

    & .icon-more-sign {
      transform: translateX(15px);
    }
  }

  &--white {
    background-color: $c-white;

    &:hover {
      color: $c-white;
    }
  }

  &__hidden {
    transition: $t-normal;
    position: absolute;
    opacity: 0;
  }
}

.icon-more-sign {
  transition: $t-normal;
  font-size: 10px;
}
