.alx-category-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $c-white;
  margin-bottom: 16px;
  border: 1px solid rgba($c-medium-grey, 0.3);
  padding: 32px;
  transition: $t-normal;
  cursor: pointer;

  &__icon-block {
    background-color: $c-light-yellow;
    font-size: em(24);
    width: fit-content;
    padding: 12px;
    border-radius: 10px;
    margin-bottom: 12px;
    line-height: 0;
  }
  
  &__title {
    font-family: "Sen";
    font-weight: 700;
    font-size: em(28);
    line-height: 40px;
    letter-spacing: -1px;
    color: $c-black;
    margin-bottom: 4px;
  }
  &___subtitle {
    font-weight: 400;
    font-size: em(16);
    line-height: 28px;
    color: $c-medium-grey;
  }

}
.alx-category-item:hover {
  background-color: $c-yellow;
  border-color: $c-white;
}
