.sol-item {
  color: $c-black;

  &__title {
    cursor: default;
    font-family: $ff-sen;
    letter-spacing: -1px;
    margin-bottom: 16px;
    line-height: 40px;
    font-size: em(28);
    font-weight: 700;

    @include media('<=tablet') {
      line-height: 32px;
    }
  }

  &__subtitle {
    cursor: default;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 24px;
    line-height: 20px;
    font-weight: 600;

    @include media('<=tablet') {
      line-height: 18px;
    }
  }

  &__description {
    color: $c-medium-grey;
    line-height: 28px;
  }

  &__button {
    margin-top: 16px;
    cursor: pointer;
    border: 0;
    
    background-color:transparent;
    &:hover {
  
      & .sol-item__hidden {
        opacity: 1;
      }
  
      & .icon-more-sign {
        transform: translateX(15px);
      }
    }
  }
  &__button-text {
    font-size: em(18);
    font-family: $ff-sen;
    color: $c-purple;
    font-weight: 700;
  }
  &__hidden {
    transition: $t-normal;
    position: absolute;
    opacity: 0;
  }
}
