@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;900&display=swap");
@font-face {
  font-family: "sen";
  src: url("./assets/fonts/sen-bold.eot");
  src: url("./assets/fonts/sen-bold.eot?#iefix"), format("embedded-opentype"), url("./assets/fonts/sen-bold.woff"), format("woff"), url("./assets/fonts/sen-bold.ttf"), format("truetype");
  font-weight: 700;
  font-style: "normal";
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
*::selection {
  background-color: rgba(89, 46, 169, 0.3);
}

.icon {
  display: inline-block;
  stroke: currentColor;
  fill: currentColor;
  height: 1em;
  width: 1em;
}
.icon:not(.has-stroke) {
  stroke-width: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

body {
  background-color: #fff;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  color: #6d6e76;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

input, select, textarea {
  background-color: transparent;
}

.wrapper {
  padding-right: 20px;
  padding-left: 20px;
  max-width: 1320px;
  margin: 0 auto;
  width: 100%;
}

.kos-banner {
  padding-top: 208px;
}
.kos-banner__header {
  padding-right: 16px;
  padding-left: 16px;
  max-width: 800px;
  margin: 0 auto;
  width: 100%;
}
.kos-banner__block {
  align-items: center;
  display: flex;
}
.kos-banner__profile {
  flex-direction: column;
  margin-left: 16px;
  display: flex;
}
.kos-banner__name {
  font-family: "Sen", sans-serif;
  line-height: 40px;
  color: #592ea9;
  font-weight: 700;
  font-size: 1.75em;
  opacity: 0.87;
}
.kos-banner__text {
  color: #6d6e76;
  line-height: 28px;
  margin-top: 16px;
}
.kos-banner__text--mt24 {
  margin-top: 24px;
}
.kos-banner__title {
  font-family: "Sen", sans-serif;
  font-size: 3em;
  line-height: 64px;
  margin-top: 24px;
  font-weight: 700;
  color: #232536;
}
.kos-banner__startup {
  font-family: "Sen", sans-serif;
  align-items: center;
  font-size: 1.5em;
  line-height: 32px;
  margin-top: 34px;
  font-weight: 700;
  color: #232536;
  display: flex;
}
.kos-banner__icon {
  margin-right: 8px;
  height: 24px;
  width: 24px;
}
.kos-banner__image {
  padding-top: 64px;
}
.kos-banner__info {
  max-width: 845px;
  margin: 0 auto;
  width: 100%;
}
.kos-banner__subtitle {
  margin-top: 48px;
  font-family: "Sen", sans-serif;
  font-size: 2.25em;
  line-height: 48px;
  font-weight: 700;
  color: #232536;
}
.kos-banner__subtitle:nth-child(1) {
  margin-top: 64px;
}
.kos-banner__list {
  list-style-type: disc;
  margin-left: 20px;
  margin-top: 24px;
}
.kos-banner__item {
  font-family: "Sen", sans-serif;
  font-size: 1.5em;
  line-height: 32px;
  font-weight: 700;
  color: #161722;
}

.kos-card {
  padding-bottom: 32px;
  max-width: 405px;
  width: 100%;
}
.kos-card__subtitle {
  color: #4c4c4c;
  font-size: 0.875em;
  margin-top: 32px;
  font-weight: 500;
}
.kos-card__subtitle--name {
  color: #592ea9;
}
.kos-card__title {
  font-family: "Sen", sans-serif;
  font-size: 1.75em;
  line-height: 40px;
  margin-top: 16px;
  font-weight: 700;
  color: #232536;
}
.kos-card__text {
  line-height: 28px;
  margin-top: 16px;
  color: #232536;
  opacity: 0.7;
}
.kos-card__photo {
  background-color: red;
  height: 320px;
}

/********************************* Core ******************************/
[data-tooltip] {
  position: relative;
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
[data-tooltip]:before, [data-tooltip]:after {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  z-index: 999999;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
[data-tooltip]:before {
  content: "";
  border: 6px solid transparent;
}
[data-tooltip]:after {
  height: 22px;
  padding: 11px 11px 0 11px;
  font-size: 13px;
  line-height: 11px;
  content: attr(data-tooltip);
  white-space: nowrap;
}
[data-tooltip].simptip-position-top:before {
  border-top-color: #323232;
}
[data-tooltip].simptip-position-top:after {
  background-color: #323232;
  color: #ecf0f1;
}
[data-tooltip].simptip-position-bottom:before {
  border-bottom-color: #323232;
}
[data-tooltip].simptip-position-bottom:after {
  background-color: #323232;
  color: #ecf0f1;
}
[data-tooltip].simptip-position-left:before {
  border-left-color: #323232;
}
[data-tooltip].simptip-position-left:after {
  background-color: #323232;
  color: #ecf0f1;
}
[data-tooltip].simptip-position-right:before {
  border-right-color: #323232;
}
[data-tooltip].simptip-position-right:after {
  background-color: #323232;
  color: #ecf0f1;
}
[data-tooltip].simptip-position-top.half-arrow:before {
  border-right: 7px solid #323232;
}
[data-tooltip].simptip-position-bottom.half-arrow:before {
  border-right: 7px solid #323232;
}
[data-tooltip]:hover, [data-tooltip]:focus {
  background-color: transparent;
}
[data-tooltip]:hover:before, [data-tooltip]:hover:after, [data-tooltip]:focus:before, [data-tooltip]:focus:after {
  opacity: 1;
  visibility: visible;
}

/******************************* Position ****************************/
.simptip-position-left:before, .simptip-position-right:before, .simptip-position-left:after, .simptip-position-right:after {
  bottom: 50%;
}
.simptip-position-left:before, .simptip-position-right:before {
  margin-bottom: -5px;
}
.simptip-position-left:after, .simptip-position-right:after {
  margin-bottom: -14.6666666667px;
}
.half-arrow.simptip-position-left:before, .half-arrow.simptip-position-right:before {
  bottom: 16px;
  border-style: none;
  border-top: 7px solid transparent;
}
.simptip-multiline.simptip-position-left:before, .simptip-multiline.simptip-position-right:before, .simptip-multiline.simptip-position-left:after, .simptip-multiline.simptip-position-right:after {
  -webkit-transform: translateY(50%);
  -moz-transform: translateY(50%);
  -ms-transform: translateY(50%);
  -o-transform: translateY(50%);
  transform: translateY(50%);
  -webkit-filter: blur(0px);
  filter: blur(0px);
  margin-bottom: 0;
}
.simptip-multiline.simptip-position-left:before, .simptip-multiline.simptip-position-right:before {
  margin-bottom: 0;
}
.simptip-multiline.half-arrow.simptip-position-left:before, .simptip-multiline.half-arrow.simptip-position-right:before {
  margin-bottom: -2px;
}

.simptip-position-right:before, .simptip-position-right:after {
  left: 100%;
}
.simptip-position-right:before {
  margin-left: -2px;
}
.simptip-position-right:after {
  margin-left: 10px;
}
.simptip-position-right.simptip-movable:before {
  margin-left: -10px;
}
.simptip-position-right.simptip-movable:after {
  margin-left: 2px;
}
.simptip-position-right.simptip-movable:hover:before, .simptip-position-right.simptip-movable:hover:after {
  -webkit-transform: translateX(10px);
  -moz-transform: translateX(10px);
  -ms-transform: translateX(10px);
  -o-transform: translateX(10px);
  transform: translateX(10px);
}
.simptip-position-right.simptip-movable.half-arrow:before {
  margin-left: -5px;
}
.simptip-position-right.simptip-movable.simptip-multiline:hover:before, .simptip-position-right.simptip-movable.simptip-multiline:hover:after {
  -webkit-transform: translate(10px, 50%);
  -moz-transform: translate(10px, 50%);
  -ms-transform: translate(10px, 50%);
  -o-transform: translate(10px, 50%);
  transform: translate(10px, 50%);
}
.simptip-position-right.half-arrow:before {
  margin-left: 3px;
  border-right: 7px solid #323232;
}

.simptip-position-left:before, .simptip-position-left:after {
  right: 100%;
}
.simptip-position-left:before {
  margin-right: -2px;
}
.simptip-position-left:after {
  margin-right: 10px;
}
.simptip-position-left.simptip-movable:before {
  margin-right: -10px;
}
.simptip-position-left.simptip-movable:after {
  margin-right: 2px;
}
.simptip-position-left.simptip-movable:hover:before, .simptip-position-left.simptip-movable:hover:after {
  -webkit-transform: translateX(-10px);
  -moz-transform: translateX(-10px);
  -ms-transform: translateX(-10px);
  -o-transform: translateX(-10px);
  transform: translateX(-10px);
}
.simptip-position-left.simptip-movable.half-arrow:before {
  margin-right: -5px;
}
.simptip-position-left.simptip-movable.simptip-multiline:hover:before, .simptip-position-left.simptip-movable.simptip-multiline:hover:after {
  -webkit-transform: translate(-10px, 50%);
  -moz-transform: translate(-10px, 50%);
  -ms-transform: translate(-10px, 50%);
  -o-transform: translate(-10px, 50%);
  transform: translate(-10px, 50%);
}
.simptip-position-left.half-arrow:before {
  margin-right: 3px;
  border-left: 7px solid #323232;
}

.simptip-position-top:before, .simptip-position-bottom:before, .simptip-position-top:after, .simptip-position-bottom:after {
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}
.simptip-position-top:after, .simptip-position-bottom:after {
  width: auto;
}
.half-arrow.simptip-position-top:before, .half-arrow.simptip-position-bottom:before {
  border-style: none;
  border-right: 7px solid #323232;
}

.simptip-position-bottom:before, .simptip-position-bottom:after {
  top: 100%;
}
.simptip-position-bottom:before {
  margin-top: -5px;
}
.simptip-position-bottom:after {
  margin-top: 7px;
}
.simptip-position-bottom:hover:before, .simptip-position-bottom:hover:after {
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}
.simptip-position-bottom.simptip-movable:before {
  margin-top: -15px;
}
.simptip-position-bottom.simptip-movable:after {
  margin-top: -3px;
}
.simptip-position-bottom.simptip-movable:hover:before, .simptip-position-bottom.simptip-movable:hover:after {
  -webkit-transform: translate(-50%, 10px);
  -moz-transform: translate(-50%, 10px);
  -ms-transform: translate(-50%, 10px);
  -o-transform: translate(-50%, 10px);
  transform: translate(-50%, 10px);
}
.simptip-position-bottom.simptip-movable.half-arrow:before {
  margin-top: -10px;
}
.simptip-position-bottom.half-arrow:before {
  margin-top: 0;
  border-top: 7px solid transparent;
}

.simptip-position-top:before, .simptip-position-top:after {
  bottom: 100%;
}
.simptip-position-top:before {
  margin-bottom: -5px;
}
.simptip-position-top:after {
  margin-bottom: 7px;
}
.simptip-position-top:hover:before, .simptip-position-top:hover:after {
  -webkit-transform: translate(-50%, 0px);
  -moz-transform: translate(-50%, 0px);
  -ms-transform: translate(-50%, 0px);
  -o-transform: translate(-50%, 0px);
  transform: translate(-50%, 0px);
}
.simptip-position-top.simptip-movable:before {
  margin-bottom: -15px;
}
.simptip-position-top.simptip-movable:after {
  margin-bottom: -3px;
}
.simptip-position-top.simptip-movable:hover:before, .simptip-position-top.simptip-movable:hover:after {
  -webkit-transform: translate(-50%, -10px);
  -moz-transform: translate(-50%, -10px);
  -ms-transform: translate(-50%, -10px);
  -o-transform: translate(-50%, -10px);
  transform: translate(-50%, -10px);
}
.simptip-position-top.simptip-movable.half-arrow:before {
  margin-bottom: -10px;
}
.simptip-position-top.half-arrow:before {
  margin-bottom: 0;
  border-bottom: 7px solid transparent;
}

/******************************* Features ****************************/
.simptip-movable:before, .simptip-movable:after {
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  -ms-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.simptip-smooth:after {
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

.simptip-fade:before, .simptip-fade:after {
  -webkit-transition: opacity 0.2s linear, visibility 0.2s linear;
  -moz-transition: opacity 0.2s linear, visibility 0.2s linear;
  -o-transition: opacity 0.2s linear, visibility 0.2s linear;
  -ms-transition: opacity 0.2s linear, visibility 0.2s linear;
  transition: opacity 0.2s linear, visibility 0.2s linear;
}

.simptip-multiline:after {
  height: auto;
  width: 150px;
  padding: 11px;
  line-height: 19px;
  white-space: normal;
  text-align: left;
}

/**************************** Diverse Colors *************************/
.simptip-success.simptip-position-top:before {
  border-top-color: #62c462;
}
.simptip-success.simptip-position-top:after {
  background-color: #62c462;
  color: #ecf0f1;
}
.simptip-success.simptip-position-bottom:before {
  border-bottom-color: #62c462;
}
.simptip-success.simptip-position-bottom:after {
  background-color: #62c462;
  color: #ecf0f1;
}
.simptip-success.simptip-position-left:before {
  border-left-color: #62c462;
}
.simptip-success.simptip-position-left:after {
  background-color: #62c462;
  color: #ecf0f1;
}
.simptip-success.simptip-position-right:before {
  border-right-color: #62c462;
}
.simptip-success.simptip-position-right:after {
  background-color: #62c462;
  color: #ecf0f1;
}
.simptip-success.simptip-position-top.half-arrow:before {
  border-right: 7px solid #62c462;
}
.simptip-success.simptip-position-bottom.half-arrow:before {
  border-right: 7px solid #62c462;
}

.simptip-info.simptip-position-top:before {
  border-top-color: #5bc0de;
}
.simptip-info.simptip-position-top:after {
  background-color: #5bc0de;
  color: #ecf0f1;
}
.simptip-info.simptip-position-bottom:before {
  border-bottom-color: #5bc0de;
}
.simptip-info.simptip-position-bottom:after {
  background-color: #5bc0de;
  color: #ecf0f1;
}
.simptip-info.simptip-position-left:before {
  border-left-color: #5bc0de;
}
.simptip-info.simptip-position-left:after {
  background-color: #5bc0de;
  color: #ecf0f1;
}
.simptip-info.simptip-position-right:before {
  border-right-color: #5bc0de;
}
.simptip-info.simptip-position-right:after {
  background-color: #5bc0de;
  color: #ecf0f1;
}
.simptip-info.simptip-position-top.half-arrow:before {
  border-right: 7px solid #5bc0de;
}
.simptip-info.simptip-position-bottom.half-arrow:before {
  border-right: 7px solid #5bc0de;
}

.simptip-danger.simptip-position-top:before {
  border-top-color: #e74c3c;
}
.simptip-danger.simptip-position-top:after {
  background-color: #e74c3c;
  color: #ecf0f1;
}
.simptip-danger.simptip-position-bottom:before {
  border-bottom-color: #e74c3c;
}
.simptip-danger.simptip-position-bottom:after {
  background-color: #e74c3c;
  color: #ecf0f1;
}
.simptip-danger.simptip-position-left:before {
  border-left-color: #e74c3c;
}
.simptip-danger.simptip-position-left:after {
  background-color: #e74c3c;
  color: #ecf0f1;
}
.simptip-danger.simptip-position-right:before {
  border-right-color: #e74c3c;
}
.simptip-danger.simptip-position-right:after {
  background-color: #e74c3c;
  color: #ecf0f1;
}
.simptip-danger.simptip-position-top.half-arrow:before {
  border-right: 7px solid #e74c3c;
}
.simptip-danger.simptip-position-bottom.half-arrow:before {
  border-right: 7px solid #e74c3c;
}

.simptip-warning.simptip-position-top:before {
  border-top-color: #e67e22;
}
.simptip-warning.simptip-position-top:after {
  background-color: #e67e22;
  color: #ecf0f1;
}
.simptip-warning.simptip-position-bottom:before {
  border-bottom-color: #e67e22;
}
.simptip-warning.simptip-position-bottom:after {
  background-color: #e67e22;
  color: #ecf0f1;
}
.simptip-warning.simptip-position-left:before {
  border-left-color: #e67e22;
}
.simptip-warning.simptip-position-left:after {
  background-color: #e67e22;
  color: #ecf0f1;
}
.simptip-warning.simptip-position-right:before {
  border-right-color: #e67e22;
}
.simptip-warning.simptip-position-right:after {
  background-color: #e67e22;
  color: #ecf0f1;
}
.simptip-warning.simptip-position-top.half-arrow:before {
  border-right: 7px solid #e67e22;
}
.simptip-warning.simptip-position-bottom.half-arrow:before {
  border-right: 7px solid #e67e22;
}

.andr-button {
  background-color: #ffd050;
  justify-content: center;
  transition: 0.35s cubic-bezier(0.4, 0, 0.2, 1);
  font-family: "Sen", sans-serif;
  align-items: center;
  position: relative;
  font-size: 1.125em;
  padding: 0px 50px;
  font-weight: 700;
  min-width: 210px;
  cursor: pointer;
  display: flex;
  height: 55px;
  border: none;
  width: 100%;
}
.andr-button:hover {
  background-color: #edc14a;
}
.andr-button:hover .andr-button__hidden {
  opacity: 1;
}
.andr-button:hover .icon-more-sign {
  transform: translateX(15px);
}
.andr-button--white {
  background-color: #fff;
}
.andr-button--white:hover {
  color: #fff;
}
.andr-button__hidden {
  transition: 0.35s cubic-bezier(0.4, 0, 0.2, 1);
  position: absolute;
  opacity: 0;
}

.icon-more-sign {
  transition: 0.35s cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 10px;
}

.pol-navigation__list {
  display: flex;
  gap: 40px;
}
.pol-navigation__link {
  transition: 0.35s cubic-bezier(0.4, 0, 0.2, 1);
  color: #fff;
}
.pol-navigation__link:hover {
  opacity: 0.8;
}

.yul-header {
  background-color: #232536;
  color: #fff;
  position: fixed;
  height: 80px;
  z-index: 999;
  right: 0;
  left: 0;
  top: 0;
}
.yul-header__wrapper {
  justify-content: space-between;
  align-items: center;
  display: flex;
  height: 100%;
}
.yul-header__logo {
  max-width: 140px;
  width: 100%;
}
.yul-header__block {
  justify-content: space-between;
  align-items: center;
  display: flex;
}
.yul-header__navigation {
  transition: 0.35s cubic-bezier(0.4, 0, 0.2, 1);
  align-items: center;
  display: flex;
  margin-right: 2em;
}
.yul-header__button {
  align-items: center;
  display: flex;
}

.pol-footer {
  background-color: #232536;
  color: #fff;
}
.pol-footer__wrapper {
  padding-top: 56px;
  padding-bottom: 56px;
}
.pol-footer__head {
  justify-content: space-between;
  align-items: center;
  display: flex;
  padding-bottom: 56px;
}
@media (max-width: 768px) {
  .pol-footer__head {
    gap: 25px;
    flex-direction: column;
    align-items: flex-start;
  }
}
.pol-footer__body {
  padding: 80px 64px;
  background-color: rgba(255, 255, 255, 0.05);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .pol-footer__body {
    gap: 25px;
    flex-direction: column;
    align-items: flex-start;
  }
}
.pol-footer__title {
  font-family: "Sen", sans-serif;
  font-size: 2.25em;
  line-height: 48px;
  letter-spacing: -2px;
  max-width: 560px;
}
.pol-footer__block {
  padding-left: 20px;
  gap: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .pol-footer__block {
    padding-left: 0;
    flex-direction: column;
    align-items: flex-start;
  }
}
.pol-footer__input {
  height: 56px;
  width: 320px;
}
@media (max-width: 768px) {
  .pol-footer__input {
    width: inherit;
  }
}
.pol-footer__button {
  width: 180px;
}
.pol-footer__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 56px;
}
@media (max-width: 768px) {
  .pol-footer__footer {
    gap: 25px;
    flex-direction: column;
    align-items: flex-start;
  }
}
.pol-footer__link {
  transition: 0.35s cubic-bezier(0.4, 0, 0.2, 1);
  line-height: 28px;
  opacity: 0.7;
  color: #fff;
}
.pol-footer__link:nth-child(3) {
  margin-right: 10px;
}
.pol-footer__link:hover {
  opacity: 1;
}

.kos-blog {
  padding-bottom: 64px;
  padding-top: 128px;
}
.kos-blog__title {
  font-family: "Sen", sans-serif;
  font-size: 2.25em;
  line-height: 48px;
  font-weight: 700;
  color: #232536;
}
@media (max-width: 1024px) {
  .kos-blog__title {
    text-align: center;
  }
}
.kos-blog__content {
  justify-content: space-between;
  padding-top: 64px;
  flex-wrap: wrap;
  display: flex;
}
@media (max-width: 1024px) {
  .kos-blog__content {
    flex-direction: column;
    align-items: center;
  }
}

.kos-blog-footer__wrapper {
  border-top: 1px solid #6d6e76;
  padding-top: 128px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.kos-blog-footer__title {
  font-family: "Sen", sans-serif;
  text-align: center;
  font-size: 2.25em;
  line-height: 48px;
  font-weight: 700;
  max-width: 415px;
  color: #232536;
  margin: 0 auto;
  width: 100%;
}
.kos-blog-footer__text {
  color: #6d6e76;
  text-align: center;
  margin: 16px auto;
  line-height: 28px;
  max-width: 405px;
  width: 100%;
}
.kos-blog-footer__button {
  margin-top: 16px;
}

/*# sourceMappingURL=blog-posts.css.map */
