@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;900&display=swap");
@font-face {
  font-family: "sen";
  src: url("./assets/fonts/sen-bold.eot");
  src: url("./assets/fonts/sen-bold.eot?#iefix"), format("embedded-opentype"), url("./assets/fonts/sen-bold.woff"), format("woff"), url("./assets/fonts/sen-bold.ttf"), format("truetype");
  font-weight: 700;
  font-style: "normal";
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
*::selection {
  background-color: rgba(89, 46, 169, 0.3);
}

.icon {
  display: inline-block;
  stroke: currentColor;
  fill: currentColor;
  height: 1em;
  width: 1em;
}
.icon:not(.has-stroke) {
  stroke-width: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

body {
  background-color: #fff;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  color: #6d6e76;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

input, select, textarea {
  background-color: transparent;
}

.wrapper {
  padding-right: 20px;
  padding-left: 20px;
  max-width: 1320px;
  margin: 0 auto;
  width: 100%;
}

/********************************* Core ******************************/
[data-tooltip] {
  position: relative;
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
[data-tooltip]:before, [data-tooltip]:after {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  z-index: 999999;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
[data-tooltip]:before {
  content: "";
  border: 6px solid transparent;
}
[data-tooltip]:after {
  height: 22px;
  padding: 11px 11px 0 11px;
  font-size: 13px;
  line-height: 11px;
  content: attr(data-tooltip);
  white-space: nowrap;
}
[data-tooltip].simptip-position-top:before {
  border-top-color: #323232;
}
[data-tooltip].simptip-position-top:after {
  background-color: #323232;
  color: #ecf0f1;
}
[data-tooltip].simptip-position-bottom:before {
  border-bottom-color: #323232;
}
[data-tooltip].simptip-position-bottom:after {
  background-color: #323232;
  color: #ecf0f1;
}
[data-tooltip].simptip-position-left:before {
  border-left-color: #323232;
}
[data-tooltip].simptip-position-left:after {
  background-color: #323232;
  color: #ecf0f1;
}
[data-tooltip].simptip-position-right:before {
  border-right-color: #323232;
}
[data-tooltip].simptip-position-right:after {
  background-color: #323232;
  color: #ecf0f1;
}
[data-tooltip].simptip-position-top.half-arrow:before {
  border-right: 7px solid #323232;
}
[data-tooltip].simptip-position-bottom.half-arrow:before {
  border-right: 7px solid #323232;
}
[data-tooltip]:hover, [data-tooltip]:focus {
  background-color: transparent;
}
[data-tooltip]:hover:before, [data-tooltip]:hover:after, [data-tooltip]:focus:before, [data-tooltip]:focus:after {
  opacity: 1;
  visibility: visible;
}

/******************************* Position ****************************/
.simptip-position-left:before, .simptip-position-right:before, .simptip-position-left:after, .simptip-position-right:after {
  bottom: 50%;
}
.simptip-position-left:before, .simptip-position-right:before {
  margin-bottom: -5px;
}
.simptip-position-left:after, .simptip-position-right:after {
  margin-bottom: -14.6666666667px;
}
.half-arrow.simptip-position-left:before, .half-arrow.simptip-position-right:before {
  bottom: 16px;
  border-style: none;
  border-top: 7px solid transparent;
}
.simptip-multiline.simptip-position-left:before, .simptip-multiline.simptip-position-right:before, .simptip-multiline.simptip-position-left:after, .simptip-multiline.simptip-position-right:after {
  -webkit-transform: translateY(50%);
  -moz-transform: translateY(50%);
  -ms-transform: translateY(50%);
  -o-transform: translateY(50%);
  transform: translateY(50%);
  -webkit-filter: blur(0px);
  filter: blur(0px);
  margin-bottom: 0;
}
.simptip-multiline.simptip-position-left:before, .simptip-multiline.simptip-position-right:before {
  margin-bottom: 0;
}
.simptip-multiline.half-arrow.simptip-position-left:before, .simptip-multiline.half-arrow.simptip-position-right:before {
  margin-bottom: -2px;
}

.simptip-position-right:before, .simptip-position-right:after {
  left: 100%;
}
.simptip-position-right:before {
  margin-left: -2px;
}
.simptip-position-right:after {
  margin-left: 10px;
}
.simptip-position-right.simptip-movable:before {
  margin-left: -10px;
}
.simptip-position-right.simptip-movable:after {
  margin-left: 2px;
}
.simptip-position-right.simptip-movable:hover:before, .simptip-position-right.simptip-movable:hover:after {
  -webkit-transform: translateX(10px);
  -moz-transform: translateX(10px);
  -ms-transform: translateX(10px);
  -o-transform: translateX(10px);
  transform: translateX(10px);
}
.simptip-position-right.simptip-movable.half-arrow:before {
  margin-left: -5px;
}
.simptip-position-right.simptip-movable.simptip-multiline:hover:before, .simptip-position-right.simptip-movable.simptip-multiline:hover:after {
  -webkit-transform: translate(10px, 50%);
  -moz-transform: translate(10px, 50%);
  -ms-transform: translate(10px, 50%);
  -o-transform: translate(10px, 50%);
  transform: translate(10px, 50%);
}
.simptip-position-right.half-arrow:before {
  margin-left: 3px;
  border-right: 7px solid #323232;
}

.simptip-position-left:before, .simptip-position-left:after {
  right: 100%;
}
.simptip-position-left:before {
  margin-right: -2px;
}
.simptip-position-left:after {
  margin-right: 10px;
}
.simptip-position-left.simptip-movable:before {
  margin-right: -10px;
}
.simptip-position-left.simptip-movable:after {
  margin-right: 2px;
}
.simptip-position-left.simptip-movable:hover:before, .simptip-position-left.simptip-movable:hover:after {
  -webkit-transform: translateX(-10px);
  -moz-transform: translateX(-10px);
  -ms-transform: translateX(-10px);
  -o-transform: translateX(-10px);
  transform: translateX(-10px);
}
.simptip-position-left.simptip-movable.half-arrow:before {
  margin-right: -5px;
}
.simptip-position-left.simptip-movable.simptip-multiline:hover:before, .simptip-position-left.simptip-movable.simptip-multiline:hover:after {
  -webkit-transform: translate(-10px, 50%);
  -moz-transform: translate(-10px, 50%);
  -ms-transform: translate(-10px, 50%);
  -o-transform: translate(-10px, 50%);
  transform: translate(-10px, 50%);
}
.simptip-position-left.half-arrow:before {
  margin-right: 3px;
  border-left: 7px solid #323232;
}

.simptip-position-top:before, .simptip-position-bottom:before, .simptip-position-top:after, .simptip-position-bottom:after {
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}
.simptip-position-top:after, .simptip-position-bottom:after {
  width: auto;
}
.half-arrow.simptip-position-top:before, .half-arrow.simptip-position-bottom:before {
  border-style: none;
  border-right: 7px solid #323232;
}

.simptip-position-bottom:before, .simptip-position-bottom:after {
  top: 100%;
}
.simptip-position-bottom:before {
  margin-top: -5px;
}
.simptip-position-bottom:after {
  margin-top: 7px;
}
.simptip-position-bottom:hover:before, .simptip-position-bottom:hover:after {
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}
.simptip-position-bottom.simptip-movable:before {
  margin-top: -15px;
}
.simptip-position-bottom.simptip-movable:after {
  margin-top: -3px;
}
.simptip-position-bottom.simptip-movable:hover:before, .simptip-position-bottom.simptip-movable:hover:after {
  -webkit-transform: translate(-50%, 10px);
  -moz-transform: translate(-50%, 10px);
  -ms-transform: translate(-50%, 10px);
  -o-transform: translate(-50%, 10px);
  transform: translate(-50%, 10px);
}
.simptip-position-bottom.simptip-movable.half-arrow:before {
  margin-top: -10px;
}
.simptip-position-bottom.half-arrow:before {
  margin-top: 0;
  border-top: 7px solid transparent;
}

.simptip-position-top:before, .simptip-position-top:after {
  bottom: 100%;
}
.simptip-position-top:before {
  margin-bottom: -5px;
}
.simptip-position-top:after {
  margin-bottom: 7px;
}
.simptip-position-top:hover:before, .simptip-position-top:hover:after {
  -webkit-transform: translate(-50%, 0px);
  -moz-transform: translate(-50%, 0px);
  -ms-transform: translate(-50%, 0px);
  -o-transform: translate(-50%, 0px);
  transform: translate(-50%, 0px);
}
.simptip-position-top.simptip-movable:before {
  margin-bottom: -15px;
}
.simptip-position-top.simptip-movable:after {
  margin-bottom: -3px;
}
.simptip-position-top.simptip-movable:hover:before, .simptip-position-top.simptip-movable:hover:after {
  -webkit-transform: translate(-50%, -10px);
  -moz-transform: translate(-50%, -10px);
  -ms-transform: translate(-50%, -10px);
  -o-transform: translate(-50%, -10px);
  transform: translate(-50%, -10px);
}
.simptip-position-top.simptip-movable.half-arrow:before {
  margin-bottom: -10px;
}
.simptip-position-top.half-arrow:before {
  margin-bottom: 0;
  border-bottom: 7px solid transparent;
}

/******************************* Features ****************************/
.simptip-movable:before, .simptip-movable:after {
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  -ms-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.simptip-smooth:after {
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

.simptip-fade:before, .simptip-fade:after {
  -webkit-transition: opacity 0.2s linear, visibility 0.2s linear;
  -moz-transition: opacity 0.2s linear, visibility 0.2s linear;
  -o-transition: opacity 0.2s linear, visibility 0.2s linear;
  -ms-transition: opacity 0.2s linear, visibility 0.2s linear;
  transition: opacity 0.2s linear, visibility 0.2s linear;
}

.simptip-multiline:after {
  height: auto;
  width: 150px;
  padding: 11px;
  line-height: 19px;
  white-space: normal;
  text-align: left;
}

/**************************** Diverse Colors *************************/
.simptip-success.simptip-position-top:before {
  border-top-color: #62c462;
}
.simptip-success.simptip-position-top:after {
  background-color: #62c462;
  color: #ecf0f1;
}
.simptip-success.simptip-position-bottom:before {
  border-bottom-color: #62c462;
}
.simptip-success.simptip-position-bottom:after {
  background-color: #62c462;
  color: #ecf0f1;
}
.simptip-success.simptip-position-left:before {
  border-left-color: #62c462;
}
.simptip-success.simptip-position-left:after {
  background-color: #62c462;
  color: #ecf0f1;
}
.simptip-success.simptip-position-right:before {
  border-right-color: #62c462;
}
.simptip-success.simptip-position-right:after {
  background-color: #62c462;
  color: #ecf0f1;
}
.simptip-success.simptip-position-top.half-arrow:before {
  border-right: 7px solid #62c462;
}
.simptip-success.simptip-position-bottom.half-arrow:before {
  border-right: 7px solid #62c462;
}

.simptip-info.simptip-position-top:before {
  border-top-color: #5bc0de;
}
.simptip-info.simptip-position-top:after {
  background-color: #5bc0de;
  color: #ecf0f1;
}
.simptip-info.simptip-position-bottom:before {
  border-bottom-color: #5bc0de;
}
.simptip-info.simptip-position-bottom:after {
  background-color: #5bc0de;
  color: #ecf0f1;
}
.simptip-info.simptip-position-left:before {
  border-left-color: #5bc0de;
}
.simptip-info.simptip-position-left:after {
  background-color: #5bc0de;
  color: #ecf0f1;
}
.simptip-info.simptip-position-right:before {
  border-right-color: #5bc0de;
}
.simptip-info.simptip-position-right:after {
  background-color: #5bc0de;
  color: #ecf0f1;
}
.simptip-info.simptip-position-top.half-arrow:before {
  border-right: 7px solid #5bc0de;
}
.simptip-info.simptip-position-bottom.half-arrow:before {
  border-right: 7px solid #5bc0de;
}

.simptip-danger.simptip-position-top:before {
  border-top-color: #e74c3c;
}
.simptip-danger.simptip-position-top:after {
  background-color: #e74c3c;
  color: #ecf0f1;
}
.simptip-danger.simptip-position-bottom:before {
  border-bottom-color: #e74c3c;
}
.simptip-danger.simptip-position-bottom:after {
  background-color: #e74c3c;
  color: #ecf0f1;
}
.simptip-danger.simptip-position-left:before {
  border-left-color: #e74c3c;
}
.simptip-danger.simptip-position-left:after {
  background-color: #e74c3c;
  color: #ecf0f1;
}
.simptip-danger.simptip-position-right:before {
  border-right-color: #e74c3c;
}
.simptip-danger.simptip-position-right:after {
  background-color: #e74c3c;
  color: #ecf0f1;
}
.simptip-danger.simptip-position-top.half-arrow:before {
  border-right: 7px solid #e74c3c;
}
.simptip-danger.simptip-position-bottom.half-arrow:before {
  border-right: 7px solid #e74c3c;
}

.simptip-warning.simptip-position-top:before {
  border-top-color: #e67e22;
}
.simptip-warning.simptip-position-top:after {
  background-color: #e67e22;
  color: #ecf0f1;
}
.simptip-warning.simptip-position-bottom:before {
  border-bottom-color: #e67e22;
}
.simptip-warning.simptip-position-bottom:after {
  background-color: #e67e22;
  color: #ecf0f1;
}
.simptip-warning.simptip-position-left:before {
  border-left-color: #e67e22;
}
.simptip-warning.simptip-position-left:after {
  background-color: #e67e22;
  color: #ecf0f1;
}
.simptip-warning.simptip-position-right:before {
  border-right-color: #e67e22;
}
.simptip-warning.simptip-position-right:after {
  background-color: #e67e22;
  color: #ecf0f1;
}
.simptip-warning.simptip-position-top.half-arrow:before {
  border-right: 7px solid #e67e22;
}
.simptip-warning.simptip-position-bottom.half-arrow:before {
  border-right: 7px solid #e67e22;
}

.andr-button {
  background-color: #ffd050;
  justify-content: center;
  transition: 0.35s cubic-bezier(0.4, 0, 0.2, 1);
  font-family: "Sen", sans-serif;
  align-items: center;
  position: relative;
  font-size: 1.125em;
  padding-left: 5px;
  padding-right: 5px;
  font-weight: 700;
  cursor: pointer;
  display: flex;
  height: 56px;
  border: none;
  width: 100%;
}
.andr-button:hover {
  background-color: #edc14a;
}
.andr-button:hover .andr-button__hidden {
  opacity: 1;
}
.andr-button:hover .icon-more-sign {
  transform: translateX(15px);
}
.andr-button--white {
  background-color: #fff;
}
.andr-button--white:hover {
  color: #fff;
}
.andr-button__hidden {
  transition: 0.35s cubic-bezier(0.4, 0, 0.2, 1);
  position: absolute;
  opacity: 0;
}

.icon-more-sign {
  transition: 0.35s cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 10px;
}

.kos-form-item {
  height: 100%;
}
.kos-form-item__content {
  max-width: 768px;
  height: 100%;
  width: 100%;
}
.kos-form-item__input {
  border: 1px solid #6d6e76;
  line-height: 28px;
  height: 100%;
  padding: 14px 25px;
  width: 100%;
}
.kos-form-item__country {
  max-width: 768px;
  width: 100%;
}
.kos-form-item__select {
  border: 1px solid #6d6e76;
  line-height: 28px;
  font-weight: 400;
  height: 76px;
  padding: 14px 25px;
  width: 100%;
}
.kos-form-item__text-area {
  border: 1px solid #6d6e76;
  box-sizing: border-box;
  line-height: 28px;
  display: block;
  padding: 14px 25px;
  resize: none;
  width: 100%;
}
.kos-form-item__error {
  text-align: end;
  color: #ff0000;
  opacity: 0;
}
.kos-form-item__error--show {
  opacity: 1;
}

.andr-social {
  gap: 16px;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  display: flex;
  width: 100%;
}
.andr-social__link {
  color: #232536;
  display: flex;
  align-items: center;
  padding: 3px;
  font-size: 1em;
}
.andr-social__link--white {
  font-size: 1em;
  color: #fff;
  opacity: 0.7;
}
.andr-social__link:hover {
  background-color: #ffd050;
  color: #4c4c4c;
  border-radius: 4px;
}

.fa-brands {
  font-size: 1em;
}

.kos-burger {
  background-color: transparent;
  position: relative;
  margin-left: 20px;
  transition: 1s;
  display: none;
  border: none;
  padding: 5px;
  z-index: 920;
}
@media (max-width: 1024px) {
  .kos-burger {
    display: block;
    cursor: pointer;
  }
}
.kos-burger--active {
  transform: rotate(270deg);
}
.kos-burger--active > .kos-burger__bar {
  transform: rotate(135deg);
}
.kos-burger--active > .kos-burger__bar:nth-child(2) {
  opacity: 0;
}
.kos-burger--active > .kos-burger__bar:last-child {
  transform: rotate(-135deg);
}
.kos-burger__bar {
  background-color: #fff;
  transition: 0.35s cubic-bezier(0.4, 0, 0.2, 1);
  margin: 5px auto;
  display: block;
  width: 25px;
  height: 3px;
}

.andr-article {
  padding-bottom: 30px;
  cursor: default;
}
.andr-article__subtitle {
  font-family: "Inter", sans-serif;
  color: #4c4c4c;
  padding-top: 30px;
  font-size: 0.875em;
  font-weight: 500;
}
.andr-article__link {
  text-decoration: none;
  color: #592ea9;
}
.andr-article__title {
  font-family: "Sen", sans-serif;
  letter-spacing: -1px;
  font-size: 1.75em;
  line-height: 40px;
  padding-top: 15px;
  font-weight: 700;
  margin-bottom: 0;
  color: #232536;
}
@media (max-width: 480px) {
  .andr-article__title {
    font-size: 1.5em;
    line-height: 30px;
  }
}
.andr-article__title--small {
  font-size: 1.5em;
  line-height: 32px;
  max-width: 340px;
  color: #232536;
}
.andr-article__text {
  color: #6d6e76;
  padding-top: 15px;
  line-height: 30px;
}
@media (max-width: 480px) {
  .andr-article__text {
    line-height: 25px;
  }
}

.pol-banner {
  position: relative;
  margin-top: 80px;
  height: 100vh;
  color: #fff;
  background-image: url(../../assets/images/yul-man-in-black-suit-wearing-eye-glasses-sitting-on-gray-sofa-using-macbook-3772622.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.pol-banner--colorized {
  background-color: #f4f0f8;
  background-image: none;
  color: #232536;
}
.pol-banner__wrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .pol-banner__wrapper {
    align-items: flex-start;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
.pol-banner__info {
  cursor: default;
  max-width: 805px;
  padding-right: 20px;
}
@media (max-width: 768px) {
  .pol-banner__info {
    margin-top: 100px;
    font-size: 0.875em;
  }
}
.pol-banner__subtitle {
  letter-spacing: 3px;
  text-transform: uppercase;
  line-height: 20px;
}
.pol-banner__subtitle--link {
  cursor: pointer;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
}
.pol-banner__subtitle--link:hover {
  color: #ffd050;
}
.pol-banner__title {
  padding: 24px 0;
  font-size: 3.5em;
  font-family: "Sen", sans-serif;
  line-height: 64px;
  letter-spacing: -2px;
}
@media (max-width: 768px) {
  .pol-banner__title {
    font-size: 3em;
    line-height: 54px;
  }
}
.pol-banner__link {
  color: #ffd050;
  cursor: pointer;
}
.pol-banner__link--colorized {
  color: #592ea9;
}
.pol-banner__text {
  max-width: 620px;
  padding-top: 16px;
  padding-bottom: 48px;
  line-height: 28px;
}
.pol-banner__button {
  width: 200px;
}
.pol-banner__image {
  max-width: 515px;
  width: 50%;
}
@media (max-width: 768px) {
  .pol-banner__image {
    height: 100%;
    min-height: 201.25px;
    width: 100%;
    padding-top: 20px;
  }
}
@media (max-width: 480px) {
  .pol-banner__image {
    display: none;
  }
}

.alx-category {
  margin-top: 128px;
  background-color: #fff;
  margin-bottom: 128px;
}
.alx-category__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.alx-category__title {
  cursor: default;
  font-family: "Sen", sans-serif;
  font-weight: 700;
  font-size: 2.25em;
  line-height: 48px;
  letter-spacing: -2px;
  margin-bottom: 48px;
  color: #232536;
  text-align: center;
}
.alx-category__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 32px;
}
@media (max-width: 1024px) {
  .alx-category__list {
    gap: 32px;
    flex-direction: column;
    display: flex;
  }
}

.alx-category-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  margin-bottom: 16px;
  border: 1px solid rgba(109, 110, 118, 0.3);
  padding: 32px;
  transition: 0.35s cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.alx-category-item:hover {
  background-color: #ffd050;
  border-color: #ffd050;
}
.alx-category-item__icon-block {
  background-color: #fbf6ea;
  font-size: 1.5em;
  width: fit-content;
  padding: 12px;
  border-radius: 10px;
  margin-bottom: 12px;
  line-height: 0;
}
.alx-category-item__title {
  font-family: "Sen", sans-serif;
  font-weight: 700;
  font-size: 1.75em;
  line-height: 40px;
  letter-spacing: -1px;
  color: #232536;
  margin-bottom: 4px;
}
.alx-category-item___subtitle {
  font-weight: 400;
  font-size: 1em;
  line-height: 28px;
  color: #6d6e76;
}

.alx-logoipsum {
  display: flex;
  justify-content: space-between;
  margin-bottom: 96px;
  margin-top: 96px;
  color: #232536;
}
@media (max-width: 1024px) {
  .alx-logoipsum {
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 30px;
  }
}
.alx-logoipsum__icon {
  height: 136px;
  transition: 0.35s cubic-bezier(0.4, 0, 0.2, 1);
  color: #6d6e76;
  font-size: 136px;
}
.alx-logoipsum__icon:hover {
  color: #232536;
}

.yul-testimonials {
  margin: 0 auto;
  max-width: 1280px;
  width: 100%;
}
@media (max-width: 768px) {
  .yul-testimonials {
    margin: 20px 50px;
  }
}
.yul-testimonials__wrapper {
  cursor: default;
  color: #232536;
  padding: 80px 110px;
  background-color: #fbf6ea;
  justify-content: center;
  display: flex;
}
@media (max-width: 1024px) {
  .yul-testimonials__wrapper {
    gap: 64px;
    flex-direction: column;
    align-items: flex-start;
  }
}
.yul-testimonials__heading {
  padding-right: 84px;
  border-right: 1px solid rgba(109, 110, 118, 0.4);
  flex-direction: column;
  display: flex;
  width: 50%;
}
@media (max-width: 1024px) {
  .yul-testimonials__heading {
    width: 100%;
    padding-right: 0;
    border-right: 0;
    padding-bottom: 84px;
    border-bottom: 1px solid rgba(109, 110, 118, 0.4);
  }
}
.yul-testimonials__span {
  letter-spacing: 3px;
  text-transform: uppercase;
  font-family: "Inter", sans-serif;
  line-height: 1.25em;
  font-size: 1em;
  margin-top: 0.75em;
  font-weight: 600;
}
.yul-testimonials__title {
  padding-top: 12px;
  padding-bottom: 16px;
  line-height: 133%;
  font-family: "Sen", sans-serif;
  font-size: 2.25em;
  font-weight: 700;
}
.yul-testimonials__subtitle {
  font-family: "Inter", sans-serif;
  line-height: 1.75em;
  font-size: 1em;
  font-weight: 400;
}
.yul-testimonials__messages {
  padding-left: 96px;
  width: 50%;
}
@media (max-width: 1024px) {
  .yul-testimonials__messages {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 0;
  }
}
.yul-testimonials__text {
  font-family: "Sen", sans-serif;
  line-height: 133%;
  font-size: 1.5em;
  font-weight: 700;
}
.yul-testimonials__bottom {
  display: flex;
  gap: 15px;
  align-items: center;
  margin-top: 7.5em;
  justify-content: space-between;
}
@media (max-width: 1024px) {
  .yul-testimonials__bottom {
    flex-direction: column;
    align-items: flex-start;
  }
}
.yul-testimonials__profile {
  justify-content: space-between;
  align-items: center;
  display: flex;
}
.yul-testimonials__image {
  margin-right: 1em;
  border-radius: 100%;
  height: 3em;
  width: 3em;
}
.yul-testimonials__info {
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  display: flex;
}
.yul-testimonials__name {
  font-family: "Sen", sans-serif;
  line-height: 133%;
  font-size: 1.5em;
  font-weight: 700;
}
.yul-testimonials__place {
  color: #6d6e76;
}
.yul-testimonials__date {
  font-family: "Inter", sans-serif;
  line-height: 1.75em;
  font-size: 1em;
  font-weight: 400;
}
.yul-testimonials__buttons {
  display: flex;
  gap: 1.5em;
}
.yul-testimonials__button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.35s cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #fff;
  border-radius: 50%;
  height: 3em;
  width: 3em;
  border: none;
}
.yul-testimonials__button:hover {
  background-color: #232536;
  align-items: center;
  color: #fff;
  transform: scale(1.25);
}
.yul-testimonials__icon {
  font-size: 1.25em;
}
.yul-testimonials__button:hover .yul-testimonials__icons {
  font-size: 1.625em;
  color: #fff;
}

.sol-card {
  background-color: #fff;
  color: #232536;
  cursor: default;
}
.sol-card__wrapper {
  padding: 64px;
}
@media (max-width: 1024px) {
  .sol-card__wrapper {
    padding: 32px;
  }
}
.sol-card__subtitle {
  text-transform: uppercase;
  letter-spacing: 3px;
  line-height: 20px;
  font-weight: 500;
  margin-bottom: 16px;
}
.sol-card__title {
  letter-spacing: -2px;
  font-family: "Sen", sans-serif;
  font-size: 3em;
  line-height: 64px;
  font-weight: 700;
}
@media (max-width: 768px) {
  .sol-card__title {
    font-size: 1.75em;
    line-height: 32px;
  }
}
.sol-card__text {
  color: #6d6e76;
  line-height: 1.75em;
  margin-top: 16px;
  margin-bottom: 32px;
}
.sol-card__button {
  width: 260px;
}

.sol-about-us {
  padding-bottom: 80px;
  padding-top: 80px;
}
.sol-about-us__head {
  margin-bottom: -65px;
  padding-left: 100px;
  padding-right: 40px;
  align-items: center;
  position: relative;
  display: flex;
  z-index: 1;
}
@media (max-width: 1280px) {
  .sol-about-us__head {
    padding-right: 20px;
    padding-left: 20px;
  }
}
@media (max-width: 1024px) {
  .sol-about-us__head {
    flex-direction: column;
    padding-bottom: 32px;
    text-align: center;
    margin-bottom: 0;
  }
}
@media (max-width: 480px) {
  .sol-about-us__head {
    margin-bottom: 20px;
    padding: 0;
  }
}
.sol-about-us__card {
  margin-right: 32px;
  min-width: 624px;
}
@media (max-width: 1024px) {
  .sol-about-us__card {
    margin-right: 0;
    min-width: auto;
  }
}
.sol-about-us__other {
  color: #4c4c4c;
  line-height: 28px;
  cursor: default;
}
.sol-about-us__body {
  position: relative;
}
@media (max-width: 1024px) {
  .sol-about-us__body {
    padding-bottom: 180px;
  }
}
@media (max-width: 768px) {
  .sol-about-us__body {
    padding-bottom: 100px;
  }
}
.sol-about-us__content {
  position: absolute;
  left: 100px;
  bottom: 0;
}
@media (max-width: 1280px) {
  .sol-about-us__content {
    left: 20px;
  }
}
@media (max-width: 1024px) {
  .sol-about-us__content {
    width: 100%;
    left: 0;
  }
}
@media (max-width: 768px) {
  .sol-about-us__content {
    position: static;
    width: 100%;
    left: auto;
  }
}
.sol-about-us__block {
  min-width: 860px;
}
@media (max-width: 1024px) {
  .sol-about-us__block {
    min-width: auto;
  }
}
.sol-about-us__statictic {
  max-width: 624px;
}
@media (max-width: 1024px) {
  .sol-about-us__statictic {
    max-width: 100%;
  }
}
.sol-about-us__image-block {
  display: flex;
}
@media (max-width: 768px) {
  .sol-about-us__image-block {
    display: none;
  }
}
.sol-about-us__footer {
  grid-template-columns: repeat(2, 1fr);
  background-color: #f4f0f8;
  padding: 128px 110px;
  grid-gap: 32px;
  display: grid;
}
@media (max-width: 1024px) {
  .sol-about-us__footer {
    padding: 32px;
  }
}
@media (max-width: 480px) {
  .sol-about-us__footer {
    grid-template-columns: 1fr;
  }
}

.sol-item {
  color: #232536;
}
.sol-item__title {
  cursor: default;
  font-family: "Sen", sans-serif;
  letter-spacing: -1px;
  margin-bottom: 16px;
  line-height: 40px;
  font-size: 1.75em;
  font-weight: 700;
}
@media (max-width: 768px) {
  .sol-item__title {
    line-height: 32px;
  }
}
.sol-item__subtitle {
  cursor: default;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 24px;
  line-height: 20px;
  font-weight: 600;
}
@media (max-width: 768px) {
  .sol-item__subtitle {
    line-height: 18px;
  }
}
.sol-item__description {
  color: #6d6e76;
  line-height: 28px;
}
.sol-item__button {
  margin-top: 16px;
  cursor: pointer;
  border: 0;
  background-color: transparent;
}
.sol-item__button:hover .sol-item__hidden {
  opacity: 1;
}
.sol-item__button:hover .icon-more-sign {
  transform: translateX(15px);
}
.sol-item__button-text {
  font-size: 1.125em;
  font-family: "Sen", sans-serif;
  color: #592ea9;
  font-weight: 700;
}
.sol-item__hidden {
  transition: 0.35s cubic-bezier(0.4, 0, 0.2, 1);
  position: absolute;
  opacity: 0;
}

.sol-block {
  background-color: #ffd050;
  display: flex;
  height: 24px;
  width: 90%;
}
.sol-block__line {
  background-color: #592ea9;
  height: 100%;
  width: 30%;
}
.sol-block--right-mode {
  justify-content: flex-end;
}

.andr-logo {
  height: 37px;
  font-size: 35px;
  font-weight: 700;
  font-family: "Sen", sans-serif;
  line-height: 1;
  color: #fff;
  transition: 0.35s cubic-bezier(0.4, 0, 0.2, 1);
}
.andr-logo:hover {
  cursor: pointer;
}
.andr-logo:hover .andr-logo__colored {
  fill: #ffd050;
  color: #ffd050;
}
.andr-logo:hover .andr-logo__rotate {
  transform: rotate(360deg);
}
.andr-logo__item {
  display: flex;
}
.andr-logo__symbol {
  height: 37px;
  fill: #fff;
}
.andr-logo .andr-logo__rotate {
  transition: 0.7s cubic-bezier(0.87, 0.64, 0.58, 1.55);
}

.pol-navigation {
  transition: 0.35s cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 910;
  overflow: hidden;
}
.pol-navigation.open {
  transition: 0.35s cubic-bezier(0.4, 0, 0.2, 1);
  min-height: 240px;
}
@media (max-width: 1024px) {
  .pol-navigation {
    transition: 0.35s cubic-bezier(0.4, 0, 0.2, 1);
    max-height: 0;
    background-color: rgba(35, 37, 54, 0.98);
    justify-content: center;
    position: fixed;
    display: flex;
    top: 80px;
    right: 0;
    left: 0;
  }
}
.pol-navigation__list {
  display: flex;
  height: 100%;
  gap: 40px;
}
@media (max-width: 1024px) {
  .pol-navigation__list {
    gap: 30px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}
.pol-navigation__link {
  transition: 0.35s cubic-bezier(0.4, 0, 0.2, 1);
  color: #fff;
}
.pol-navigation__link:hover {
  opacity: 0.8;
}

.kos-burger {
  background-color: transparent;
  position: relative;
  margin-left: 20px;
  transition: 1s;
  display: none;
  border: none;
  padding: 5px;
  z-index: 920;
}
@media (max-width: 1024px) {
  .kos-burger {
    display: block;
    cursor: pointer;
  }
}
.kos-burger--active {
  transform: rotate(270deg);
}
.kos-burger--active > .kos-burger__bar {
  transform: rotate(135deg);
}
.kos-burger--active > .kos-burger__bar:nth-child(2) {
  opacity: 0;
}
.kos-burger--active > .kos-burger__bar:last-child {
  transform: rotate(-135deg);
}
.kos-burger__bar {
  background-color: #fff;
  transition: 0.35s cubic-bezier(0.4, 0, 0.2, 1);
  margin: 5px auto;
  display: block;
  width: 25px;
  height: 3px;
}

.yul-header {
  background-color: #232536;
  color: #fff;
  position: fixed;
  height: 80px;
  z-index: 999;
  right: 0;
  left: 0;
  top: 0;
}
.yul-header__wrapper {
  justify-content: space-between;
  align-items: center;
  display: flex;
  height: 100%;
}
.yul-header__logo {
  max-width: 140px;
  width: 100%;
}
.yul-header__block {
  justify-content: space-between;
  align-items: center;
  display: flex;
}
.yul-header__navigation {
  transition: 0.35s cubic-bezier(0.4, 0, 0.2, 1);
  align-items: center;
  display: flex;
  margin-right: 2em;
}
.yul-header__button {
  width: 170px;
  align-items: center;
  display: flex;
  margin-left: 32px;
}
@media (max-width: 480px) {
  .yul-header__button {
    display: none;
  }
}

.pol-footer {
  background-color: #232536;
  color: #fff;
}
.pol-footer__wrapper {
  padding-top: 56px;
  padding-bottom: 56px;
}
.pol-footer__head {
  justify-content: space-between;
  align-items: center;
  display: flex;
  padding-bottom: 56px;
}
@media (max-width: 768px) {
  .pol-footer__head {
    gap: 25px;
    flex-direction: column;
    align-items: flex-start;
  }
}
.pol-footer__body {
  padding: 80px 64px;
  background-color: rgba(255, 255, 255, 0.05);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 1024px) {
  .pol-footer__body {
    gap: 25px;
    flex-direction: column;
    align-items: flex-start;
  }
}
.pol-footer__title {
  cursor: default;
  font-family: "Sen", sans-serif;
  font-size: 2.25em;
  line-height: 48px;
  letter-spacing: -2px;
  max-width: 560px;
}
.pol-footer__block {
  padding-left: 20px;
  gap: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 1024px) {
  .pol-footer__block {
    padding-left: 0;
    flex-direction: column;
    align-items: flex-start;
  }
}
.pol-footer__input {
  height: 56px;
  width: 320px;
}
@media (max-width: 768px) {
  .pol-footer__input {
    width: inherit;
  }
}
.pol-footer__button {
  width: 180px;
}
.pol-footer__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 56px;
}
@media (max-width: 768px) {
  .pol-footer__footer {
    gap: 25px;
    flex-direction: column;
    align-items: flex-start;
  }
}
.pol-footer__link {
  transition: 0.35s cubic-bezier(0.4, 0, 0.2, 1);
  line-height: 28px;
  opacity: 0.7;
  color: #fff;
}
.pol-footer__link:nth-child(3) {
  margin-right: 10px;
}
.pol-footer__link:hover {
  opacity: 1;
}
.pol-footer__socials {
  margin-right: 14px;
}

.yul-join-section {
  cursor: default;
  margin-bottom: 128px;
  margin-top: 128px;
}
.yul-join-section__wrapper {
  text-align: center;
  max-width: 414px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.yul-join-section__title {
  color: #232536;
  font-family: "Sen", sans-serif;
  margin-bottom: 16px;
  font-size: 2.25em;
  font-weight: 700;
}
.yul-join-section__subtitle {
  text-align: center;
  font-family: "Inter", sans-serif;
  line-height: 1.75em;
  margin-bottom: 32px;
  font-size: 1em;
  font-weight: 400;
}
.yul-join-section__button {
  width: 170px;
}

.alx-authors-item {
  display: flex;
  flex-direction: column;
  padding-left: 28px;
  padding-bottom: 40px;
  padding-top: 40px;
  padding-right: 28px;
  align-items: center;
  text-align: center;
  background-color: #f4f4f4;
  cursor: pointer;
  transition: 0.35s cubic-bezier(0.4, 0, 0.2, 1);
}
.alx-authors-item:hover {
  background-color: #fbf6ea;
}
.alx-authors-item__image-block {
  margin-bottom: 20px;
}
.alx-authors-item__image {
  border-radius: 50%;
}
.alx-authors-item__title {
  transition: 0.35s cubic-bezier(0.4, 0, 0.2, 1);
  font-family: "Sen", sans-serif;
  font-weight: 700;
  font-size: 1.75em;
  line-height: 40px;
  letter-spacing: -1px;
  color: #232536;
}
.alx-authors-item__title:hover {
  opacity: 0.8;
}
.alx-authors-item__subtitle {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 0.875em;
  line-height: 20px;
  color: #6d6e76;
}

.alx-list-of-author {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 128px;
  margin-bottom: 128px;
}
.alx-list-of-author__title {
  cursor: default;
  color: #232536;
  font-family: "Sen", sans-serif;
  font-weight: 700;
  font-size: 2.25em;
  line-height: 48px;
  letter-spacing: -2px;
  margin-bottom: 48px;
}
.alx-list-of-author__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 32px;
}
@media (max-width: 1024px) {
  .alx-list-of-author__list {
    grid-template-columns: repeat(2, 1fr);
  }
}

.andr-content-block {
  padding-top: 130px;
}
.andr-content-block__wrapper {
  justify-content: space-between;
  display: flex;
}
@media (max-width: 1024px) {
  .andr-content-block__wrapper {
    display: block;
  }
}
.andr-content-block__item {
  min-width: 735px;
  width: 100%;
}
@media (max-width: 768px) {
  .andr-content-block__item {
    max-width: 735px;
    min-width: auto;
  }
}
.andr-content-block__item--tiny {
  min-width: auto;
  max-width: 515px;
  width: 100%;
}
@media (max-width: 1024px) {
  .andr-content-block__item--tiny {
    max-width: initial;
  }
}
.andr-content-block__item--tiny .andr-article {
  padding-left: 30px;
}
@media (max-width: 1024px) {
  .andr-content-block__item--tiny .andr-article {
    min-width: 340px;
  }
}
.andr-content-block__item--tiny .andr-article:hover {
  background-color: #fbf6ea;
  cursor: pointer;
}
.andr-content-block__item--tiny .andr-article__title {
  padding-top: 8px;
}
.andr-content-block__head {
  justify-content: space-between;
  align-items: center;
  display: flex;
}
@media (max-width: 1024px) {
  .andr-content-block__head {
    margin-top: 20px;
  }
}
.andr-content-block__title {
  font-family: "Sen", sans-serif;
  letter-spacing: -2px;
  font-size: 2.25em;
  font-weight: 700;
  color: #232536;
  cursor: default;
}
.andr-content-block__link {
  font-family: "Inter", sans-serif;
  text-decoration: none;
  color: #592ea9;
  font-weight: 400;
}
.andr-content-block__article-wrapper {
  border: 1px solid rgba(109, 110, 118, 0.1);
  margin-top: 30px;
  padding: 30px;
}
@media (max-width: 768px) {
  .andr-content-block__article-wrapper {
    padding: 15px;
  }
}
.andr-content-block__button {
  max-width: 200px;
}
.andr-content-block__short-wrapper {
  margin-top: 30px;
}
@media (max-width: 1024px) {
  .andr-content-block__short-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 768px) {
  .andr-content-block__short-wrapper {
    grid-template-columns: 1fr;
    justify-items: center;
  }
}

.pol-about-us__wrapper {
  margin-top: 128px;
  margin-bottom: 128px;
}

.pol-specials {
  position: relative;
}
@media (max-width: 1024px) {
  .pol-specials {
    position: unset;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
}
.pol-specials__image-block {
  max-width: 950px;
  bottom: 0;
}
.pol-specials__card {
  display: flex;
  background-color: #fff;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 706px;
}
@media (max-width: 1024px) {
  .pol-specials__card {
    position: unset;
    width: 100%;
  }
}

/*# sourceMappingURL=home.css.map */
